<div class="d-flex justify-content-center">
    <div class="card m-3">
            <h5 class="card-header">Angular Reactive Form Validation</h5>
            <div class="card-body">
                <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                    <div class="form-row">
                        <div class="form-group col">
                            <label>Title</label>
                            <select 
                                formControlName="title" 
                                class="form-control">
                                <option value=""></option>
                                <option value="Mr">Mr</option>
                                <option value="Mrs">Mrs</option>
                                <option value="Miss">Miss</option>
                                <option value="Ms">Ms</option>
                            </select>                            
                        </div>
                        <div class="form-group col-5">
                            <label>First Name</label>
                            <input 
                                type="text" 
                                formControlName="firstName" 
                                class="form-control"/>
                        </div>
                        <div class="form-group col-5">
                            <label>Last Name</label>
                            <input 
                                type="text" 
                                formControlName="lastName" 
                                class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Email</label>
                        <input 
                            type="text" 
                            formControlName="email" 
                            class="form-control" />
                    </div>
                    <div class="form-row">
                        <div class="form-group col">
                            <label>Password</label>
                            <input 
                                type="password" 
                                formControlName="password" 
                                class="form-control"/>
                        </div>
                        <div class="form-group col">
                            <label>Confirm Password</label>
                            <input 
                                type="password" 
                                formControlName="confirmPassword" 
                                class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group form-check">
                        <input 
                            type="checkbox" 
                            formControlName="acceptTerms" 
                            id="acceptTerms" 
                            class="form-check-input"/>
                        <label 
                            for="acceptTerms" 
                            class="form-check-label">Accept Terms & Conditions</label>
                    </div>
                    <div class="text-center">
                        <button class="btn btn-primary mr-1">Register</button>
                        <button class="btn btn-secondary" type="reset" (click)="onReset()">Clear</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {{ registerForm.value | json }}