<div class='container'>
    <h3>List of Products...</h3>
    <ul class='table table-striped mt-5' *ngFor='let product of allProducts'>
        <li>
            <app-product 
                [productData]='product' 
                (deleteEvent)='deleteProductParent($event)'></app-product>        
        </li>
        <!--<tr >
            
            <td>{{ product.productId }}</td>
            <td>{{ product.productName }}</td>
            <td>{{ product.productCost}}</td>
            <td>{{ product.productDescription }}</td>
        </tr>-->
        
    </ul>
</div>